/* intro section */

.intro {
    display: block;
    text-align: center;
}
#cover-photo {
    object-fit: cover;
    max-height: calc(100vh - 112px);
    min-height: calc(100vh - 112px);
    width: 100%;
    height: auto;

}



.intro .title {
    position: absolute;
    width: 100%;
    top: calc(112px + 10%);

}

.intro .title h1 {
    color:white;
    font-size: 50px;
    max-width: 400px;
    margin: auto;
    padding-top: 10vh;

}


@media all and (max-height: 500px){
    .intro .title h1 { 
        max-width: 100%;
        
    }
}
@media all and (max-height: 360px){
    .intro .title h1 { 
        padding-top: 0vh;
    }
}
@media all and (max-height: 700px) and (max-width: 300px) {
    .intro .title h1 {
        font-size: 38px;
    }
}
@media all and (max-height: 600px) and (max-width: 374px) {
    .intro .title h1 {
        font-size: 38px;
    }
}
@media all and (max-height: 360px ) and (max-width:640px){
    .intro .title h1 { 
        font-size: 38px;
    }
}




.email {
    padding-top: 5vh;
    flex: 1 1 auto;
    text-align: center;
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-me {
    padding-top: 10vh;


}
.about-me p {
    padding-top: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #262626;
    line-height: 1.5;
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: auto;

}

#mailicon {
    height: 40px;
    width: 40px;
}

.email p {
    font-size: 16px;
}
