.list {
    padding-top: 10vh;
    margin: auto;
    text-align: center;
}

.list h1 {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #262626;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    padding-bottom: 3vh;
    font-style: italic;
}

.list ul {
    display: inline-block;
    text-align: center;
    font-style: italic;
    list-style-type: none;
}

.list li {
    padding-top: 1vh;
    text-decoration: none;
    color:#262626;
}

.list a {
    text-decoration: none;
    color:#262626;
}