.navbar {
    display: block;
    background-color:white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  
  .navbar ul {
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 780px;
  }
  
  .navbar li {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .navbar a {
    text-decoration: none;
    color:#262626;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 22px;
    width: 100%; 
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  
  @media(hover: hover) and (pointer: fine) {
    nav a:hover {
        color: blue;
    }
  }
  
  .navbar a.active {
    color: blue;
  }

  .navbar Link.active {
    color: blue;

  }

  .navbar .menuicon {
    display: none;
  }
  
  
  
  /*
  ** make the navbar responsive 
  */
  
  @media all and (max-width: 640px) {
    .navbar li:not(:first-child){
        display: none;
    }
  
    .navbar .menuicon {
        max-width: 30%;
    }
  
    .navbar .menuicon {
        margin-top: 10px;
        width: 20%;
  
    }
  
    .navbar .menuicon {
        font-size: 50px;
    }
  
    
  }
  
  @media all and (max-width: 640px) {
    .navbar.responsive li {
        display: block;
        margin: auto;
    }
    .navbar .menuicon{
        display: inline-block;
    }
    .navbar.responsive ul {
        display: block;
        margin: auto;
    }
    
  }