/*
** universal reset 
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*
** main content
*/

.main {
  margin: 0;
  padding: 0;
}

.content {
    padding-top: 112px;
  }